:root {
    --darker_bg: #202525;
    --lighter_bg: #424549;
    --colourpalette-pink: #EA6077;
    --colourpalette-white: #FFF0FF;
    --colourpalette-darkgreen: #5F9C45;
    --colourpalette-Lightgreen: #D8E299;
    --colourpalette-reviewBlue: #6379EB;
    --colourpalette-nav_bg: #1E1E1E;
    --colourpalette-project-box: #353737;
    --navbar-height: 80px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}


html {
    font-family:Poppins,'Segoe UI';
    font-size: 14px;
    line-height:1.5rem;
    
}




.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    background-color: var(--darker_bg);
    color: var(--colourpalette-white);
}


header{
    position:sticky;
    top:0;
    z-index: 1;
}


.side_nav {
    box-sizing: border-box;
    height: 90vh;
    width: auto;
    max-width: 250px;
    background-color: var(--colourpalette-nav_bg);
    border-right: var(--colourpalette-pink);
    position: fixed;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    overflow-y:auto;
    z-index:1;
}

.side_nav ul{
    list-style: none;
    padding-left: 0;
}

.side_nav > ul > li {
    margin-bottom: 16px;
    height: 80px;
}

.side_nav li.active span{
    color:var(--colourpalette-pink);
}

.side_nav li.active svg {
    fill: var(--colourpalette-pink);
}

.side_nav a{
    padding: .85em;
    text-decoration:none;
    color:var(--colourpalette-white);
    display:flex;
    align-items:center;
    gap: 1em;
    height:100%;
    color: var(--colourpalette-white);
}

.side_nav img, .side_nav svg {
    flex-shrink: 0;
    margin-left: 9px;
}

.side_nav a span{
    flex-grow:1;
    padding-right:3vw
}

.side_nav a:hover{
    background-color:darkslategray;
}

.side_nav.close {
    width: 80px;
    overflow: hidden;
    
}

.side_nav.close span {
    opacity:0;
}

.container_own {
    min-height: calc(100vh - var(--navbar-height) + 15px); /*  +15px is for the bottom margin in nav*/
    padding-left:80px;
    padding-top: 2em;
    margin:auto;
    width:90vw;
    margin-bottom:60px;

}


nav {
    height:var(--navbar-height);
    background-color: var(--colourpalette-nav_bg);
    position:sticky;
    
}

.navbar_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.menu_icon {
    width: 30px;
    height:30px;
    margin-right: 30px;
    margin-left:5px;
}

.Page_title{
    margin-bottom:0;
    margin-left: 15px;
}

.logo_icon {
    width: 69px;
    height: 69px;
}

.account_buttons {
    margin-left: auto;
    margin-right: 30px;
    display:flex;
    align-items:center;
    gap: 15px;
}

.profile_picture {
    height: 100%;
    width: 100%;
}



.profilepicture_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: clip;
    background-color: #d5d4d4;
}

.profilepicture_container_tasklist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: clip;
    background-color: #d5d4d4;
}

.profilepicture_container_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    min-width:30px;
    min-height:30px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: clip;
    background-color: #d5d4d4;
}



.profilepicture_container:hover {
    cursor: pointer;
    border-color: var(--colourpalette-pink);
    border-width: 2px;
}

/* https://copy-paste-css.com/ */
.custom_button {
    text-align: center;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 110px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 500;
    text-align: center;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 35px;
}

.custom_button:hover {
    color: var(--colourpalette-white);
    background-color: var(--colourpalette-pink);
    border:none;
}

footer {
    position:absolute;
    color: var(--colourpalette-white);
    min-height: 100px;
    width:100%;
    padding: 0px 15px;
    background-color:var(--colourpalette-nav_bg)

}


.github_logo {
    background-color: white;
    height:100%;
    width: 100%;
    border-radius:50%;
}

.footer_container{
    display:flex;
    height:100%;
    width: 100%;
    flex-wrap:wrap;
}

.footer_container > div {
    display: flex;
    align-items: center;
    color: var(--colourpalette-white);
    flex-direction: column;
    padding: 10px 10px;
    width: 33%;
    margin: auto;
    line-height: 0px;
    min-width:220px;
}

.footer_container > div p
{
    margin-top:10px;
    margin-bottom:15px;
}


.github_link {
    display: block;
    height: 50px;
    width: 50px;
}

.github_logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* First Section: Split screen */
.intro-section {
    display: flex;
    height: 70vh;
    background-color: var(--darker_bg);
    background-image: url(/Media/Background_fruit.png);
    background-repeat: repeat;
    background-blend-mode:color;
}

.text-side, .image-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.text-side {
    flex-direction: column;
    text-align: left;
}

.text-side h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-side p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: var(--colourpalette-white);
}

.text-side .buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: var(--darker_bg);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #146c43;
}

.btn-signup {
    background-color: #28a745;
}

.btn-signup:hover {
    background-color: #218838;
}

.btn-warning:hover {
    background-color:#ffc720;
}

.btn-danger:hover {
    background-color: #b02a37;
}

.btn-close:hover {
    background-color: #565e64;
}


.btn-login {
    background-color: #007bff;
}

.btn-login:hover {
    background-color: #0056b3;
}

.btn-group {
    gap: 15px;
    margin-left: 10px;
}

/* Image side with a cut effect */
.image-side {
    position: relative;
    overflow: hidden;
}

.image-cut {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    /* This cuts the bottom-left corner at an angle */
}

.image-cut img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.features-section {
    padding: 60px 20px;
    background-color: var(--darker_bg);
    margin-bottom:5vh;
}

.features-section .feature_container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.features-section .feature {
    min-width: 270px;
    max-width: 300px;
    flex: 1;
}

.features-section .feature img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 20px;
}

.features-section .feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.features-section .feature p {
    font-size: 1rem;
    color: var(--colourpalette-white);
}



.invite-modal{
    background-color:var(--colourpalette-nav_bg);
    height:85%;
}

#inviteModal_title{
    margin-bottom:1em;
}
#InviteModal_overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute
}
.searchUsersModal {
    display: none;
}
.InviteModal_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 1;
}

.Invitemodal-content {
    position: relative;
    z-index: 2;
    margin: 100px auto;
    padding: 10px 20px;
    width: 500px;
    height:500px;
    max-height:50%;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 7vw;
    background-color: var(--colourpalette-nav_bg);
    color: var(--colourpalette-white);
}

.invite-modal li {
    background-color: var(--darker_bg);
    color: var(--colourpalette-white);
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: clip;

}
.invite-modal li p {
    margin-bottom:0px;
}

.invite-modal ul {

    overflow-y: auto;
    max-height:60%;
}

#invite_searchbar{
   border-bottom:solid 1px var(--colourpalette-pink);
}

.close_InviteModal_button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--colourpalette-white)
}

#send_invite_button
{
    bottom: 30px;
    position:absolute;
    left: 37%;
}
#InvitePeople , #showModalButton{
    margin:0 0 5px 15px;
    
}

.project_search_group
{
    position:relative;
}
.search_icon {
    position: absolute;
    right: 2px;
    top: 3px;
}

.project_info_boxes {
    display: flex;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.info_box {
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--colourpalette-pink);
    padding: 0 ;  
}
.infbox_pic {
    width: 30%;
    min-width:40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.infobox_text {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.infobox_text p {
    margin-bottom: 0px;
    font-weight: 600;
    font-size:1rem
}








.register-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: var(--colourpalette-nav_bg);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin: auto;
}

.register-image {
    flex: 3;
    background: url('/Media/flover.png') no-repeat center center;
    /*  background-size: cover; */
}

.register-form {
    flex: 7;
    padding: 40px;
}

.form-group label {
    color: #bbbbbb;
}

.form-control {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: #fff;
}

.form-control:focus {
    background-color: #2c2c2c;
    color: #fff;
    border-color: #007bff;
    box-shadow: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.row-form {
    display: flex;
    gap: 15px;
}

.row-form .form-group {
    flex: 1;
}

.text-danger {
    font-size: 0.8rem;
}

.register-form input{
    margin-bottom: 15px;
}






.toggle-btn {
    cursor: pointer;
    padding: 10px 20px;
}


.btn-allow:hover,
.btn-allow.active {
    background-color: #0b5ed7;
    border-color: #0a58ca;
    color: white;
}


.btn-deny:hover,
.btn-deny.active {
    background-color: #bb2d3b;
    border-color: #b02a37;
    color: white;
}


.modal-content {
    background-color: var(--colourpalette-nav_bg);
    border: 1px solid #444;
    color: #fff;
}

.modal-content .form-group, .modal-content button {
    margin-bottom: 15px;
}


.AddItem_div {
    display: flex;
    max-width: 90%;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.project_link_container {
    overflow: clip;
    height:100%;
    width:100%;
}




.project_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    max-width: 90%;
    gap: 40px 40px;
    justify-content: flex-start;
    margin: auto;
}

.project_div {
    height: 350px;
    width: 350px;
    color: var(--colourpalette-white);
    padding: 15px 20px;
    background: linear-gradient(var(--colourpalette-project-box), var(--colourpalette-project-box)), /* actual content bg */
    linear-gradient(to right, #EA6077, #D8E299, #5F9C45) border-box; /* gradient border */
    border-radius: 10%;
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.project_link{
    color: var(--colourpalette-white);
    text-decoration:none;
}

.Members_owner{
    display:flex;
    flex-direction:row;
}
.picture_rower {
    display: flex;
    flex-direction: row;
    align-items:center;
}
.Members {
    display:flex;
    flex-direction:column;
    width: 70%
}
#member_extra {
    margin-bottom: 0px;
    padding:0 10px;
}

.Owner{
    display:flex;
    flex-direction:column;
    width:30%;
    align-items:center;
}

.picture_rower .profilepicture_container:not(:first-child) {
    /* your styles here */
    margin-left: -17px;
}

.Review, .Assigned_tasks{
    margin-top:15px;
}

.project_subtitle {
    color: var(--colourpalette-Lightgreen);
    overflow: clip;
    height: 40px;
}

.project_div p {
    font-weight: 600;
}

#assigned_task_text{
    color: var(--colourpalette-darkgreen);
}
#Review_false_text {
    color: #ff4545;
}
#Review_text {
    color: var(--colourpalette-reviewBlue);
}
#Late_task_text {
    color: #ff4545;
}

.detail_tabs{
display:flex;
gap:30px;
margin-bottom:50px;
flex-wrap:wrap;

}

.detail_tabs a{
    text-decoration:none;
    color: var(--colourpalette-white);
}

.tab_nav{
display: flex;
gap: 10px;
padding: 0 5px 0 2px;

}

.tab_nav.active {
    display: flex;
    gap: 10px;
    color: var(--colourpalette-pink);
    border-bottom: 1px solid var(--colourpalette-pink)
}

.tab_nav.active svg {
    fill: var(--colourpalette-pink);
}


.tasktable {
    width: 100%;
}
.table-scroll-container {
    overflow-x: auto;
    max-width: 100%;
}

.project_searchbar {
    border-radius: 5px;
    padding-right:24px;
}

.tasktable_heading th{
    padding:1em;
    padding-bottom:5em;
}

.tasktable td {
    padding: 10px 0;
    padding-left:1em;
    border-bottom: solid 1px var(--colourpalette-white);
    max-width:250px;
    overflow:clip;
}

.tasktable_heading th, td {
    padding-right: 2em;
}
#markasdone_button {
    height:40px;
    width: 70px;
    padding:0;
}

.Assigned_flex {
    display: flex;
    align-items: center;

}
.Assigned_flex p{
    margin:0 10px;
}

.Memberlist_assigned_flex {
    display: flex;
    align-items: center;
    justify-content:center;
}

.Members_list td, .Members_list th {
    color: white;
    text-align: center;
    vertical-align: middle;
}

.Members_list{
    width:80%;
    margin:auto
}














@media screen and (max-width: 800px) {
    .side_nav.close {
        width: 0px;
        overflow: hidden;
    }

    .container_own {
        min-height: calc(100vh - var(--navbar-height) + 15px); /*  +15px is for the bottom margin in nav*/
        padding-left: var(--bs-gutter-x, .75rem);
    }

    html {
        font-size: 16px;
    }

    .image-side {
        display: none;
    }

    .features-section .feature_container {
        justify-content: flex-start;
    }

    .row-form{
        flex-direction:column;
    }

    .register-container {
        display: flex;
        width: 100%;
        margin-left: 0px;
    }

    .info_box {
        width: 200px;
        display: flex;
        align-items: center;
        border-bottom: none;
        padding: 0;
    }
}
