@using ExpenseTracker.Models.Utils;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectManager.styles.css" asp-append-version="true" />

    <!--
        <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
               render-mode="ServerPrerendered" />

               <base href="~/" />

    -->
    
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar_container">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <img class="menu_icon" onclick="toggleMenu()" src="/Media/menu_icon.svg" alt="Menu icon">
                }
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo_icon" src="/Media/flover.png" alt="Logo">
                </a>
                <h4 class="Page_title">@ViewData["Title"]:</h4>
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <div class="account_buttons">
                        <h5 class="mb-0"> @UtilityFunctions.CapitalizeFirstLetter(User.Identity.Name)</h5>
                        <div class="profilepicture_container">
                            <img class="profile_picture" src="/Media/flover.png" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="account_buttons">
                        <form asp-action="Login" asp-controller="Account" method="get">
                            <button type="submit" class="custom_button">Login</button>
                        </form>
                    </div>
                }

            </div>
        </nav>
    </header>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <aside class="side_nav close">
            <ul>
                <li class="active">
                    <a>
                        <img src="/Media/person_icon.svg" />
                        <span>Account</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="/Media/task_icon.svg" />
                        <span>Tasks</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="/Media/chart_icon.svg" />
                        <span>Analytics</span>
                    </a>

                </li>
                <li>
                    <a href="/Projects">
                        <img src="/Media/rocket_icon.svg" />
                        <span>Projects</span>
                    </a>
                </li>
            </ul>
        </aside>
    }


        <div class="container">
            <main role="main" class="pb-3">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
                @RenderBody()
            </main>
        </div>

    <footer>
        <div class="footer_container">
            <div class="footer_1">
                <p>Github:</p>
                <a class="github_link" href="https://github.com/aleksihayrynen/Project-Manager-FullStack" target="_blank">
                    <img class="github_logo" src="/Media/Github.png" />
                </a>
            </div>
            <div class="footer_2">
                <p>© 2025 - ProjectManager -</p>
            </div>
            <div class="footer_3">
            <p>Made by: </p>
            <p>Aleksi Häyrynen</p>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- <script src="_framework/blazor.server.js"></script> -->

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
