@using ProjectManager.Components
@using ProjectManager.Models.ViewModels




<h1> This is all task panel</h1>

<component type="typeof(AllTask)" render-mode="ServerPrerendered"/>

@section Scripts {

}