@{
    ViewData["Title"] = "Home Page";
}

<section class="account_information">
    <div class="profile_header">
        <div class="profilepicture_container_profile">
            <img class="profile_picture" src="/Media/flover.png" />
        </div>
        <div class="profile_header_info">
            <h4>Aleksi Häyrynen</h4>
            <h4>ICT-Student</h4>
            <h4>HAMK</h4>
        </div>
    </div>
</section>
    
<section>
        <div class="profile_info field-group">
            <label>Username:</label>
            <div class="fake_input_bg">
                <p>Aleksi</p>
            </div>


            <label>Email:</label>
            <div class="fake_input_bg">
                <p>AleksiemaiI@gmail.com</p>
            </div>

            <form id="editProfile_Form"  onsubmit="saveForm(event)">
            <div class="form-group">
                <label for="occupationInput">Occupation:</label>
                <input type="text" class="form-control" id="occupationInput" value="ICT-Student" />
            </div>
            <div class="form-group">
                <label for="companyInput">Company:</label>
                <input type="text" class="form-control" value="HAMK" />
            </div>

                <button class="btn btn-primary" type="submit" style="margin-top: 15px;">Save</button>
            </form>
        </div>

        <div class="field-group">
            <h3>Change password:</h3>
            

            

            
        <form id="change_password" onsubmit="saveForm(event)">
            <div class="form-group">
                <label>Old password</label>
                <input type="password" class="form-control" placeholder="Old password" />
            </div>
            <div class="form-group">
                <label>New password</label>
                <input type="password" class="form-control" placeholder="New password" />
            </div>

            <div class="form-group">
                <label>Re-type new password</label>
                <input type="password" class="form-control" placeholder="Re-type new password" />
            </div>

            

            <button class="btn btn-primary" type="submit" style="margin-top: 15px;">Save</button>
        </form>
        </div>
    
</section>



@section Scripts {
    <script>

    </script>

}